# {{ .Name }}

Description: {{ .Description }}

{{- if .Environment }}
Environment Variables:
{{- range $key, $value := .Environment }}
  {{ $key }}: {{ $value }}
{{- end }}
{{- end }}
{{- range $step := .Steps }}
  {{- if $step.Args }}

Arguments:
    {{- range $arg := $step.Args }}
{{ $arg }}
    {{- end }}
  {{- end }}
{{- end }}
