# TTPForge/{{.PackageName}}

{{if ne .PackageName "magefiles"}}The `{{.PackageName}}` package is a part of the TTPForge.
{{else}}`{{.PackageName}}` provides utilities that would normally be managed
and executed with a `Makefile`. Instead of being written in the make language,
magefiles are crafted in Go and leverage the [Mage](https://magefile.org/) library.
{{end}}
---

## Table of contents

- [Functions](#functions){{if ne .PackageName "magefiles"}}
- [Installation](#installation)
- [Usage](#usage)
- [Tests](#tests){{end}}
- [Contributing](#contributing)
- [License](#license)

---

## Functions
{{range .Functions}}
### {{if .StructName}}{{.StructName}}{{end}}{{.Name}}{{if .Params}}({{.Params}}){{end}}

```go
{{.Signature}}
```

{{.Description}}
---
{{end}}{{if ne .PackageName "magefiles"}}
## Installation

To use the TTPForge/{{.PackageName}} package, you first need to install it.
Follow the steps below to install via go get.

```bash
go get {{.GoGetPath}}
```

---

## Usage

After installation, you can import the package in your Go project
using the following import statement:

```go
import "{{.GoGetPath}}"
```

---

## Tests

To ensure the package is working correctly, run the following
command to execute the tests for `TTPForge/{{.PackageName}}`:

```bash
go test -v
```

---
{{end}}
## Contributing

Pull requests are welcome. For major changes,
please open an issue first to discuss what
you would like to change.

---

## License

This project is licensed under the MIT
License - see the [LICENSE](https://github.com/facebookincubator/TTPForge/blob/main/LICENSE)
file for details.
