---
name: Delete old workflow runs
on:
  schedule:
    - cron: "0 23 * * 6"
  workflow_dispatch:
  pull_request:
    branches: ["main"]

jobs:
  del_runs:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 4
          keep_minimum_runs: 4
