---
name: Pre-Commit
on:
  pull_request:
  push:
  # Run once a week (see https://crontab.guru)
  schedule:
    - cron: "0 0 * * 0"

jobs:
  pre-commit:
    name: Update pre-commit hooks and run pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Set up git repository
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Set up Python
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435 # v4
        with:
          python-version: "3.10"

      - name: Set up Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4
        with:
          go-version: "1.20"

      - name: Install homebrew
        uses: homebrew/actions/setup-homebrew@master

      - name: Install go module dependencies
        run: |
          go install mvdan.cc/sh/v3/cmd/shfmt@latest
          go install github.com/magefile/mage@latest

      - name: Install brew dependencies
        run: |
          brew install pre-commit
          brew install shellcheck

      - name: Run go mod tidy - necessary to avoid errors with dependabot PRs
        run: |
          go mod tidy
          pushd magefiles; go mod tidy; popd

      - name: Commit go.mod and go.sum changes to keep pre-commit happy
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add go.mod go.sum
          git diff --quiet && git diff --staged --quiet || git commit -m "Update go.mod and go.sum"

      - name: Install pre-commit dependencies
        run: mage installDeps

      - name: Run pre-commit
        run: pre-commit run --all-files
